.odr-logo {
    width: 250px;
    height: auto;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;
}

.upper-sections {
    display: flex;
    justify-content: space-between;
    /* If you want the two sections to have some space between them */
    gap: 60px;
}

.complaints, 
.data-protection {
    flex: 1; /* This will make them take up equal space next to each other */
    /* Set a max-width if you want to control how wide these sections can be */
}

.contact-form {
    width: 100%; /* This will make the contact form take up the full width */
    /* Add any additional styling for the contact form here */
    padding: 1em; /* Example padding */
}

.heading-pic img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains aspect ratio */
    border-radius: 2%;
}
