.main-wrapper {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: center; /* Center the items horizontally */
    gap: 30px; /* Adds space between the image and the text */
}

.home-page-image {
    width: 23.5%; 
    aspect-ratio: 9/11.5;
    overflow: hidden;
    position: relative;
    border-radius: 2%;
}

.home-page-image img {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 5s ease-out;
    z-index: 0; /* Ensure images stack below the active one */
}

.home-page-image img.active {
    opacity: 1;
    z-index: 1; /* Ensure the active image is above others */
    transition: opacity 3s ease-in;
}

.quote-wrapper {
    padding-left: 10px;
    flex-basis: 70%; 
}

.quote {
    text-align: left;
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 3em;
}

.author {
    color: rgb(250, 138, 1);
    font-style: italic;
    font-size: 2em;
    text-align: right;
}

.portrait {
    max-width: 30%; /* Maximum width is also 30% */
    aspect-ratio: 9/11.5;
    position: relative;
    border-radius: 2%;
}

.portrait img {
    width: 100%; /* Makes the image fill the container */
    height: auto; /* Maintains aspect ratio */
}

.about-me-wrapper {
    flex: 1; /* Takes the remaining space */
    max-width: 70%; /* Maximum width to complement the image */
}