
html, body {
    height: 100%; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}


body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    position: fixed; /* Keeps the header at the top of the viewport */
    top: 0; /* Aligns the header at the top */
    z-index: 1000; /* Ensures the header stays above other content */
}

main {
    flex: 3; /* Grow to take up available space */
    padding: 30px;
    padding-bottom: 80px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between; /* This separates the main and aside elements */
    align-items: flex-start; /* Aligns the elements to the top */
    padding-top: 60px; /* Adjust this value to the actual height of your header */
    padding-bottom: 30px;
}


aside {
    flex: 1; /* This will allow the aside element to grow but take less space than main */
}

/* Additional styling for aside to ensure it has a background, padding, etc., if needed. */
.aside-container {
    padding: 30px;
    background: #f5f5f5; /* Example background color */
    border-radius: 2%; /* Example border radius */
    margin-right: 30px;
    margin-top: 30px;
}