body {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 50px;
}

.nav-bar img {
    height: 100px;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin: 3em;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.nav-links a:hover {
    text-decoration: none;
    color: orange;
}