@import url(nav-styles.css);
@import url(footer-styles.css);
@import url(home.css);


html, body {
    height: 100%; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
}


body {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    flex: 1; /* Grow to take up available space */
}