html {
    font: 20px/1.5
}

body, table, input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: inherit;
}

p {
    padding-bottom: 0.6em;
    line-height: 1.6; 
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h2, h3, h4, h5, h6 {
    color: rgb(250, 138, 1); 
}

h1 {
    padding-left: 30px;
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; }

a {
    text-decoration: none;
    color: black;
}

.greeting {
    font-size: 1.5em;
    margin-top: 0;
    padding: 0;
}

.contact-details {
    margin: 0;
    padding: 1 em;
}

.card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}